@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vuejs with ASP MVC</title>
    <script src="~/scripts/dist/bundle.js"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", false)
</body>
</html>
